<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipeApp | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'recipes/images/favicon.ico' %}">
    <!-- CSS CUSTOM -->
    <link rel='stylesheet' type='text/css' href="{% static 'recipes/css/styles.css' %}">
    <style type="text/css">
        body {
            background: url("{% static 'recipes/images/home1.jpg' %}") no-repeat fixed;
            background-size: cover;
        }
    </style>
</head>

<body class='body' style="margin-top: 300px;">
    <h1>Welcome to Recipe App</h1>

    <h3>Log-in to your account to see our list of recipes</h3>
    <div>
        <a href="{%url 'login' %}" class="login_btn" style="margin: 40px;"> Login </a>
        <a href="\recipes/list" class="back-home_btn"> List </a>
    </div>
</body>

</html>